.menu-card {
    max-width: 80vw;
    min-height: 25vh;
    align-self: center;
    text-align: center;
    background-color: transparent !important;
    color: white;
    display: block !important;
}
