.btn-icon {
    cursor: pointer;
    color: white;
}

.btn-icon.disabled{
    color: gray;
}

.controller-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}