/* img {
    position: absolute;
}

img:first-of-type {
    z-index: 10;
}

.forced-img {
    position: unset;
    z-index: 0;
} */


.animation-div {
    display: flex;
    justify-content: center;
}

.animation-div > div {
    position: absolute;
    /* left: calc(33vw - 100px); */
    z-index: 100;
}

@media (max-width: 576px) {
    .animation-div > div {
        left: calc(50vw - 100px) !important;
    }
}