.form-group {
    display: inline-flex !important;
    max-width: 300px;
}

#base_img {
    z-index: 0;
}

.block {
    width: 50vw;
    height: 100%;
    background-color: red;
}

.app-container {
    margin: auto;
    padding-bottom: 2rem;
}

.deck-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 15rem;
    min-height: 26rem;
}