.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.footer {
  font-size: 0.8rem;
}

.footer-1 {
  background-color: white;
  text-align: center;
  padding: 0.4rem;
}

.footer-2 {
  background-color: #ba925c;
  color: white;
  text-align: center;
}

html {
  height: 100%;
}

html * {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('./museo_bg.jpg');
  background-color: #000;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden;
  min-height: 100%;
}

.icon-button {
  color: #EDBA00;
}

.icon-button:hover {
  color:#BD9A00;
  cursor: pointer;
}

.icon-button.disabled {
  color:#8D5A00;
}

.icon-button.disabled:hover {
  color:#8D5A00;
  cursor: default;
}

.navbar-custom {
  background-color: #EDBA00;
}

.footer-logo {
  max-width: 23vw;
}

.logo-sep {
  display: inline;
  /* min-height: 100%; */
  border-left: 0.2rem solid #ba925c;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin: 0.6rem;
}

.navbar-logo {
  margin: 0.4rem;
  max-height: 4.4vw;
}


.menu-img {
  max-width: 10rem;
  margin: 2vw
}

.icon-color {
  color: #EDBA00;
}

.slider-img {
  width: 8rem;
}

.nav-item a {
  text-decoration: none !important;
  color: black;
}

.nav-item a:hover {
  color: grey;
}

.nav-item a::after {
  content: "\00a0\00a0\00a0"
}